<header class="header">
  <div class="logo-title">
    <div class="logo">
      <i class="bi bi-robot"></i>
      <span class="text">AI Briefer</span>
    </div>
  </div>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/chatBot" routerLinkActive="active">ChatBot</a>
    <a routerLink="/upload" routerLinkActive="active">Upload</a>
    <a routerLink="/fileNotes" routerLinkActive="active">File Notes</a>
  </nav>
</header>
<div class="line"></div>
<router-outlet></router-outlet>