.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  height: 70vh; /* Half of the viewport height */
  padding: 100px;
}

.box {
  width: 70vw; /* Half of the viewport width */
  height: 100vh; /* Half of the viewport height */
  background-color: #ffffff;
  border: 2px solid #302c2c;
  border-radius: 10px;
  padding: 50px;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 20px; /* Optional: Add some space between the box and the input */
}

.intro_title {
  color: #1c1d1f;
  font-weight: 100;
  font-size: max(48px, min(5vw, 76px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 24px;
  position: relative;
}

.box label {
  margin-bottom: 5px;
  display: block;
}

.box input[type="text"],
.box textarea,
.box .file-input {
  width: calc(100% - 20px); /* Subtract padding and border width */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.box textarea {
  resize: vertical; /* Allow vertical resizing */
}

.file-label {
  margin-top: 20px;
}

.file-input {
  margin-top: 5px;
}


#uploadButton {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: max(10px, min(5vw, 20px));
  line-height: 1;
  letter-spacing: -.05em;
  font-weight: 100;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#uploadButton:hover {
  background-color: #c6cecc;
}
