
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.intro_title__TZuNV {
  color: #1c1d1f;
  font-weight: 800;
  font-size: max(48px, min(5vw, 76px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 24px;
  position: relative;
}


.intro_subtitle__7jvxT {
  color: var(--accents-5);
  font-size: max(15px, min(2vw, 20px));
  line-height: 1.8;
  letter-spacing: var(--letter-spacing-1);
  font-weight: 400;
  position: relative;
  padding: 40px 32px;
  background: var(--geist-background);
  z-index: 1;
  width: calc(100% - var(--line-width)* 2);
  left: var(--line-width);
}


